@charset "utf-8";
body {
	background-image: url(bg.jpg);
	font-size: 12px;
	line-height: 25px;
	color: black;
}
.nav {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #738CAA;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}
.main {
	color: #000;
}
a {
	color: black;
	font-size: 14px;
	font-family: "宋体";
}
a:link {
	color: blue;
	text-decoration: none;
}
a:visited {
	text-decoration: underline;
	color: purple;
}
a:hover {
	text-decoration: underline;
	color: blue;
}
a:active {
	text-decoration: line-through;
	color: blue;
}
.title {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #200F15;
	border-left-width: 5px;
	border-left-style: solid;
	border-left-color: #200F15;
	padding-left: 10px;
	color: #AD5A5A;
}
}
